.twiget-feed {
    margin: auto;
    padding: 5px 5px 5px 0px;
    overflow:auto;
}
.twiget-article {
    border-bottom: 1px solid #CCC;
    float: left;
    padding: 5px 0px;
    width: 100%;
}

.twiget-pic {
    float: left;
}
 
.twiget-pic img {
    float: left;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
 
}

.twiget-profile-link {
    vertical-align: middle;
}

.twiget-status {
    display: block;
}
 
.twiget-text {
    padding: 3px 0;
    float: left;
    width: 100%;
}
 
.twiget-time {
    font-size: 10px;
    float: left;
}

#twigetfollow {
    margin-top: 5px;
    text-align: right;
}
